
        /* Margen superior para evitar superposición */
        .hero__caption2 {
            margin-top: 60px; /* Ajusta este valor según sea necesario */
        }
        
        /* Estilos específicos para el botón "Volver Atrás" */
        .button-back {
            margin-top: 20px;
        }

        @media (max-width: 767px) {
            .button-back {
                text-align: center;
                margin-top: 10px;
            }

            .hero__caption2 {
                margin-top: 20px;
            }
        }

         /* Estilos para las imágenes en dispositivos móviles */
         .responsive-img {
                width: 100%;
                height: auto;
            }

        .left-img img {
            width: 100%;
            max-width: none;
        }


  